<div class="vidLabels">
  <%= link_to 'All', "/videos" %>
  <%= link_to 'Country', "/country" %>
  <%= link_to 'Blues', "/blues" %>
  <%= link_to 'Jazz', "/jazz" %>
  <%= link_to 'Rock', "/rock" %>
</div>


<div class="gallery">
  <% @videos.each do |video|%>
      <div class="video">
        <%= video_tag video.video_url.to_s, :controls =>true, :width => '100%' %>
        <% if user_signed_in? %>
          <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%= link_to 'Edit', edit_video_path(video) %> |
        <% end %>
      </div>
    <%end%>
</div>