<center>
<h1>Videos</h1>

<div class="vidLabels">
  <%= link_to 'All', "/videos" %>
  <%= link_to 'Country', "/country" %>
  <%= link_to 'Blues', "/blues" %>
  <%= link_to 'Jazz', "/jazz" %>
</div>

<% @videos.each do |video|%>
    <h3>
      <%= video.title %>
    </h3>
    <%= video_tag video.video_url.to_s, :controls =>true, :width => '75%' %>
  <% if user_signed_in? %>
    <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%= link_to 'Edit', edit_video_path(video) %> |
  <% end %>
<%end%>
</center>
