<!DOCTYPE html>
<html>
  <head>
    <title>Tyler J. Fay</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag asset_path('grey-guitar.png'), :rel => 'icon', :type =>  'image/png' %>

    <meta name="description" content="Tyler J. Fay: Local Musician" />

    <meta property="og:title" content="Tyler J. Fay" />

    <meta property="og:description" content="Tyler J. Fay: Local Musician" />

    <meta property=”og:image” content="app/assets/images/kitties.jpg" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <script src='lib/jquery.min.js'></script>
    <script src='lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>

    <%= render :partial => 'flash_messages', :flash => flash %>

    <%= render "layouts/header" %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
